.App {
  text-align: center;
  background-color: #aeaeae;
  margin: 0;
  padding: 0;
}

.title {
  text-decoration-line: underline;
}
.red {
  color: red;
}

img {
  height: 200px;
}
div {
  margin: 10px;
}
